.root {
    .tabIcon {
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin-bottom: 10px;
        color: #999;

        &.active {
            color: var(--adm-color-primary);
        }
    }
}