.container {
    width: 100%;
    height: calc(100% - 64px);
    padding: 20px 15px;
    background: linear-gradient(175deg, #FDEDE0 4.38%, #FAE7FA 33.96%, #F1EFFC 64.65%, rgba(241, 239, 252, 0.00) 94.55%);
}

.user_view {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user_left {
        display: flex;
        align-items: center;

        .user_icon {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
        }

        .user_info {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            .nickname {
                color: #101010;
                font-family: Inter;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
            }

            .member_id {
                color: #505050;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                margin-top: 5px;
            }
        }
    }
}

.sign_btn {
    width: 84px;
    height: 30px;
    background: linear-gradient(93deg, #FF84A9 2.11%, #FF6696 97.88%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .sign_text {
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
    }
}

.rechange_view {
    height: 105px;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(255, 187, 187, 0.10);
    padding: 12px;
}

.top_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    .top_left {
        color: #333;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }

    .top_right {
        display: flex;
        align-items: center;

        .more_text {
            color: #999;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            margin-right: 5px;
        }

        .more_icon {
            width: 10px;
            height: 10px;
        }
    }
}

.money_view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

    .money_left {
        display: flex;
        align-items: center;

        .me_coin {
            width: 28px;
            height: 28px;
        }

        .money {
            color: #333;
            text-align: center;
            font-family: PingFang HK;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            margin-left: 5px;
        }
    }
}

.rechange_btn {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(93deg, #FF84A9 2.11%, #FF6696 97.88%);
}

.menu_list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 10px;

    .menu_card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;

        .menu_card_left {
            display: flex;
            align-items: center;
        }

        .menu_text {
            color: #333;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            margin-left: 15px;
        }

        .more_icon {
            width: 12px;
            height: 12px;
        }
    }
}

.gift {
    width: 24px;
    height: 24px;
}

.mylist {
    width: 24px;
    height: 24px;
}

.language {
    width: 24px;
    height: 24px;
}

.question {
    width: 24px;
    height: 24px;
}

.setting {
    width: 24px;
    height: 24px;
}