.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .top_label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            color: #333;
            font-family: Roboto;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
        }

        .right {
            width: 58px;
            height: 24px;
            border-radius: 12px;
            border: 1px solid #D9D9D9;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            .more_text {
                color: #333;
                font-family: PingFang SC;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
                margin-right: 3px;
            }

            .more_icon {
                width: 6px;
                height: 9px;
            }
        }
    }
}


.gird_view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;

    .gird_card {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        justify-content: center;
        align-items: center;

        .grid_text {
            width: 110px;
            color: #101010;
            font-family: PingFang SC;
            font-size: 14px;
            font-weight: 400;
            margin-top: 3px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .gird_images {
            width: 110px;
            height: 150px;
            border-radius: 8.87px;
        }
    }
}