.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .top_label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            color: #333;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
        }

        .right {
            display: flex;
            align-items: center;

            .text {
                color: #666;
                font-family: PingFang SC;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: capitalize;
                margin-bottom: 2px;
                margin-right: 4px;
            }

            .more_icon {
                width: 12px;
                height: 12px;
            }
        }
    }
}


.gird_view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;

    .gird_card {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        justify-content: center;
        align-items: center;

        .grid_text {
            width: 112px;
            color: #333;
            font-family: PingFang SC;
            font-size: 14px;
            font-weight: 400;
            margin-top: 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .gird_images {
            width: 112px;
            height: 150px;
            border-radius: 8.87px;
        }
    }
}